<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
    

    <h1>Inicia Sesion!</h1>

    <form id="login" method="post">
      
        <label>Tu Usuario:</label>
        <input type="text" id="user" placeholder="adminuser" required>
        <br>
        <label>Tu Contrasena:</label>
        <input type="password" required id="password">

        <button type="submit">Login In</button>

    </form>

    <p>No tienes cuenta? <a href="/signup">Crea una!</a></p>

    <script src="/static/login.js"></script>
</body>
</html>